body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
    color: var(--grey-500);
}

.active {
    color: var(--primary-500);
}

.navbar {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}