@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Lekton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
body {
    background:#f3f3f3;
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Kalam', cursive;
    color: black;
  }
p{
    font-size:20px;
}
input{
      position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}
  
  img {
    width: 100%;
    height: 220px;
  }
  h1{
    font-family: 'Alfa Slab One', cursive;
  }
  h3{
    font-family: 'Alfa Slab One', cursive;
  }
  h4{
    font-family: 'Alfa Slab One', cursive;
  }
  h5{
    font-family: 'Alfa Slab One', cursive;
  }
  h6{
    font-family: 'Alfa Slab One', cursive;
  }
  h2{
    font-family: 'Alfa Slab One', cursive;
  }
  a {
    color: #FFFFFF !important;
    text-decoration: none;
  }
  

  button {
    align-items: center;
    background-color: #161748;
    border: 2px solid #161748;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:focus {
    fill: white;
  }
  
  button:hover {
    background-color: #4B2383;
    border-color: #4B2383;
    fill: #171e29;
  }
  
  button:active {
    background-color: #4B2383;
    border-color: #4B2383;
    fill: #171e29;
  }
  
  @media (min-width: 768px) {
    button {
      min-width: 170px;
    }
  }
  
  .App {
    text-align: center;
  }
  .clsborder {
    border: 1px solid #4B2383;
    border-radius: 5px;
    padding: 20px 2px;
    margin: 10px 100px 10px 100px;
    background-color: #e4decd;
  }
  .clsborder_forum {
    border: 1px solid #4B2383;
    border-radius: 5px;
    padding: 20px 2px;
    margin: 10px 600px 10px 600px;
    background-color: #e4decd;
  }
  /* .length {
    border: 2px solid #00A4BD;
    padding: 10px;
  } */
  /* .App-header {
    background-color: #522157;
    height: 110px;
    padding: 30px;
    color: white;
    margin-bottom: 2rem;
  } */
  
  .App-title {
    font-size: 1.5em;
  }
  
  .recipe_buttons {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.4rem 0.6rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
  }
  
  .recipes__box {
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
  }
  
  .recipe__text {
    margin-left: 15px;
  }
  
  .recipes__title {
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.8rem 0 0.2rem 0;
  }
  
  .recipes__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  
  .recipes__subtitle span {
    text-transform: none;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  .form__input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #2c3e50;
    margin-right: 10px;
    letter-spacing: 2px;
    width: 10%;
    padding: 0.4rem;
  }
  
  .form__button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
  }
  
  input[type="text"] { 
    outline: none;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
    -webkit-text-fill-color: #2c3e50 !important;
  }
  
  /******** RECIPE.js ********/
  
  .active-recipe {
    margin: 0 auto;
    width: 60%;
  }
  
  .active-recipe__img {
    height: 500px !important;
  }
  
  .active-recipe__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
  }
  
  .active-recipe__publisher, .active-recipe__website {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .active-recipe__publisher span {
    text-transform: none;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 5px;
  }
  
  .active-recipe__website span {
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #e74c3c;
    margin-left: 10px;
  }
  
  .active-recipe__button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Francois One', sans-serif;
    background-color: #161748;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    color:white;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #4B2383;
  }
  
  .active {
    background-color: #DCB477;
  }
